.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: black;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
transition: .3s;
}

/* active state */
.hoverMe:hover { 
  background-color: blanchedalmond;
  border: 2px;
  border-color: white;
  font-size: bold;
  font: satoshi;
  color: black;
}
.hoverMe2 {
  grid-area: hover;
  background-color: black;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
transition: .3s;
}

/* active state */
.hoverMe2:hover { 
  background-color: blanchedalmond;
  border: 2px;
  border-color: white;
  font-size: bold;
  font: satoshi;
  color: black;
}

.hoverMe {
  grid-area: hover;
  background-color: black;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
transition: .3s;
}

/* active state */
.hoverMe:hover { 
  background-color: blanchedalmond;
  border: 2px;
  border-color: white;
  font-size: bold;
  font: satoshi;
  color: black;
}