body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #f1f1f1;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1em;
}

main {
  padding: 1em;
}

.image-container {
  display: flex;
  flex: auto;
}

.image-container img{
  flex-basis: 10%;
  max-width: 25%;
  padding: 10px;
}

section {
  margin-bottom: 1em;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1em;
}