body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #f1f1f1;
  padding: 1em; 
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1em;
}

main {
  padding: 1em;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-container img{
    flex-basis: 10%;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
  }

section {
  margin-bottom: 1em;
  display: flex;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1em;
}